<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>military calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>281830D41C9EA10F00CA2510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>281830E81C9EA10F00CA2510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>281830F31C9EA10F00CA2510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
